* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: #f2f2f2;
}
/*div {
	height: 100px;
}*/
.con {
	display:-webkit-flex;
	background-color: #9B9C97;
	width: 600px;
	height: 600px;
	-webkit-flex-direction: column;
	margin: 10px auto;
}
.first {
	height: 100px;
	-webkit-flex: 1;
	background-color: orange;
}
.second {
	height: 100px;
	-webkit-flex: 2;
	background-color: #A3C12C;
	display: -webkit-box;
	-webkit-box-origin: vertical;
}
.third {
	height: 200px;
	-webkit-flex: 1;
	background-color: #33A7D4;
}
.second_one {
	border-right: solid 4px orange;
	background-color: orange;
	-webkit-box-flex: 1;
}
.second_two {
	border-right: solid 4px #33A7D4;
	-webkit-box-flex: 2;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.second_three {
	background-color: #33A7D4;
	-webkit-box-flex: 1;
}
.middle {
	width: 100px;
	height: 100px;
	background-color: yellow;
}
.margin {
	position: relative;
	border: dashed 1px #000;
	width: 200px;
	height: 200px;
	background-color: #f9cc9d;
	text-align: center;
	vertical-align: middle;
}
.border {
	position: relative;
	top: 30px;
	left: 20px;
	border: solid 1px #000;
	width: 160px;
	height: 140px;
	background-color: #fddd9b;
	text-align: center;
	vertical-align: middle;
}
.padding {
	position: relative;
	top: 30px;
	left: 20px;
	border: dashed 1px #000;
	width: 120px;
	height: 80px;
	background-color: #c2cf8a;
	text-align: center;
	vertical-align: middle;
}
.center {
	position: relative;
	top: 30px;
	left: 20px;
	border: solid 1px #000;
	width: 80px;
	height: 20px;
	background-color: #8bb5c0;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	font-size: 14px;
}
span {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 13px;
	padding-left: 2px;
}