    * {
        margin: 0;
        padding: 0;
    }   
    /*最外层容器的大小位置*/
    .view {
        width: 200px;
        height: 200px;
        margin: 100px auto 0 auto; 
    }
    /*魔方div设置*/
    #box>div {
        position: absolute;  /*使得六个面初始位置一致*/
        width: 219px;
        height: 219px;
        /*border: solid 3px #000;*/
        text-align: center;
        /*font-size: 130px;*/
        /*background-color: rgba(0.8);*/
    }
    /*魔方父元素设置  */
    #box {
        /*chrome&&safari*/
        -webkit-transform-style: preserve-3d;
        -webkit-animation: animation 6s infinite ease-in-out;
        -webkit-transform-origin: 110px 110px 0;
        /*火狐浏览器*/
         -moz-transform-style: preserve-3d;
        -moz-animation: animation 6s infinite ease-in-out;
        -moz-transform-origin: 110px 110px 0;
        /*ie浏览器*/
        -ms-transform-style: preserve-3d;
        -ms-animation: animation 6s infinite ease-in-out;
        -ms-transform-origin: 110px 110px 0;

        transform-style: preserve-3d;
        animation: animation 6s infinite ease-in-out;
        transform-origin: 110px 110px 0;
        /*-webkit-perspective: 300px;*/
        /*-webkit-perspective-origin: 110px 110px;*/
    }
    
    .front { /*沿着z轴向前110px*/
        background-color: #d30013;
        -webkit-transform: translateZ(110px) rotateX(0deg);
        -moz-transform: translateZ(110px) rotateX(0deg);
        -ms-transform: translateZ(110px) rotateX(0deg);
        transform: translateZ(110px) rotateX(0deg);
    }
    
    .back {  /*沿着z轴向后110px*/
        background-color: #e88013;
        -webkit-transform: translateZ(-110px) rotateY(180deg);
        -moz-transform: translateZ(-110px) rotateY(180deg);
        -ms-transform: translateZ(-110px) rotateY(180deg);
        transform: translateZ(-110px) rotateY(180deg);
    }
    
    .bottom { /*x轴逆时针90度后沿z轴向前110px*/
        background-color: #ebebeb;
        -webkit-transform: rotateX(-90deg) translateZ(110px);
        -moz-transform: rotateX(-90deg) translateZ(110px);
        -ms-transform: rotateX(-90deg) translateZ(110px);
        transform: rotateX(-90deg) translateZ(110px);
    }
    
    .left { /*x轴向后110px后y轴逆时针90度*/
        background-color: #084094;
        -webkit-transform: translateX(-110px) rotateY(-90deg);
        -moz-transform: translateX(-110px) rotateY(-90deg);
        -ms-transform: translateX(-110px) rotateY(-90deg);
        transform: translateX(-110px) rotateY(-90deg);
    }
    
    .right {/*x轴向前110px后y轴顺时针90度*/
        background-color: #1c9740;
        -webkit-transform: translateX(110px) rotateY(90deg);
        -moz-transform: translateX(110px) rotateY(90deg);
        -ms-transform: translateX(110px) rotateY(90deg);
        transform: translateX(110px) rotateY(90deg);
    }
    
    .top { /*x轴顺时针90度后沿z轴向前110px*/
        background-color: #ebeb0f;
        -webkit-transform: rotateX(90deg) translateZ(110px);
        -moz-transform: rotateX(90deg) translateZ(110px);
        -ms-transform: rotateX(90deg) translateZ(110px);
        transform: rotateX(90deg) translateZ(110px);
    }
    /*chrome && safari*/
    @-webkit-keyframes animation {
         16% {-webkit-transform: rotateY(-90deg);}
        33% {-webkit-transform: rotateY(-90deg) rotateZ(135deg);}
        50% {-webkit-transform: rotateY(135deg) rotateZ(135deg);}
        66% {-webkit-transform: rotateY(135deg) rotateX(135deg);}
        83% {-webkit-transform: rotateX(135deg);}
    }
    /*火狐*/
    @-moz-keyframes animation {
         16% {-moz-transform: rotateY(-90deg);}
        33% {-moz-transform: rotateY(-90deg) rotateZ(135deg);}
        50% {-moz-transform: rotateY(135deg) rotateZ(135deg);}
        66% {-moz-transform: rotateY(135deg) rotateX(135deg);}
        83% {-moz-transform: rotateX(135deg);}
    }
    /*ie*/
    @-ms-keyframes animation {
         16% {-ms-transform: rotateY(-90deg);}
        33% {-ms-transform: rotateY(-90deg) rotateZ(135deg);}
        50% {-ms-transform: rotateY(135deg) rotateZ(135deg);}
        66% {-ms-transform: rotateY(135deg) rotateX(135deg);}
        83% {-ms-transform: rotateX(135deg);}
    }
    @keyframes animation {
         16% {transform: rotateY(-90deg);}
        33% {transform: rotateY(-90deg) rotateZ(135deg);}
        50% {transform: rotateY(135deg) rotateZ(135deg);}
        66% {transform: rotateY(135deg) rotateX(135deg);}
        83% {transform: rotateX(135deg);}
    }
   
   .inner {
        width: 63px;
        height: 63px;
        border: solid 5px #000;
        float: left;
   }