* {
    margin: 0;
    padding: 0;
}
header,
section,
footer,
aside,
nav,
article {
    display: block;
}
html,
body {
    height: 100%;
    font-family: arial, 宋体b8b\4f53, sans-serif, "Microsoft YaHei", tahoma;
}
section {
    position: relative;
    height: 100%;
    min-width: 810px;
    /*设置最小宽度 防止过窄时导航变形*/
    min-height: 430px;
    /*设置最小高度 防止过低时 底部 fixed和中间重叠*/
}
input {
    outline: none;
    border: none;
    vertical-align: top;
}
header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
}
nav {
    margin-top: 25px;
    margin-right: 140px;
    /*aside width 80px + setting 60px 间距*/
    float: right;
    /*使nav靠右*/
}
nav a {
    margin-left: 17px;
}
.setting a,
nav a {
    /*nav和setting的连接一致*/
    font-weight: bold;
    text-decoration: underline;
    font-size: 13px;
    color: #000;
}
nav a:hover,
.setting a:hover {
    color: #00c;
}
.normal,
.setting a {
    font-weight: normal;
}
aside {
    position: absolute;
    /*和hover的定位方式不同，以防浏览器过窄和nav重叠*/
    right: 11px;
    top: 22px;
    display: inline;
    background-color: #38f;
    height: 20px;
    width: 58px;
    overflow: hidden;
    /*鼠标没有划过时更多产品的样式*/
    padding-top: 5px;
    padding-left: 4px;
    font-size: 13px;
    color: #fff;
}
aside span {
    margin-bottom: 10px;
}
aside:hover {
    cursor: default;
    position: fixed;
    /*鼠标划过时fixed定位*/
    right: 0;
    top: 0;
    display: inline;
    background-color: #f9f9f9;
    height: 100%;
    width: 80px;
    z-index: 9999;
    /*鼠标划过时更多产品样式*/
    text-align: center;
    font-size: 13px;
    color: #333;
    padding-top: 28px;
}
aside hr {
    margin: 9px auto;
    border: none;
    border-top: solid 1px #f0f0f0;
    width: 60px;
}

/*css hack for IE7*/

* +html hr {
    margin: 2px auto;
}
aside a {
    width: 64px;
    display: block;
    position: relative;
    font-size: 12px;
    color: #6a6a6a;
    padding-top: 44px;
    /*img 40 + padding 4px 使得字在图片下面*/
    text-decoration: none;
    margin: 0 auto;
    background: url("../img/icons.png") no-repeat;
    width: 36px;
    overflow: visible;
    /*    border: solid 1px red;*/
}
.icon1 {
    background-position: -36px 0;
    /*width: 36px;*/
}
.icon2 {
    background-position: -72px 0;
    width: 40px;
}
.icon3 {
    background-position: -112px 0;
}
.icon4 {
    background-position: -148px 0;
}
.icon5 {
    background-position: -184px 0;
}
.icon6 {
    background-position: -220px 0;
    width: 42px;
    height: 14px;
    text-indent: -6px;
}
.tuiguang {
     /*text-indent: -6px;*/
     display: block;
     width: 48px;
}
.less {
    background: #f9f9f9;
    width: 64px;
    padding-top: 0px;
}
aside a:hover {
    text-decoration: underline;
}
article {
    position: relative;
    top: 20%;
    /*随着浏览器长度变化 article和header之间的距离也变大*/
    text-align: center;
}
article img {
    margin-top: 20px;
    width: 270px;
    height: 129px;
    margin: 0 auto 30px;
}
article .input-one {
    width: 540px;
    height: 35px;
    border: solid 1px #b6b6b6;
    border-right: solid 0 #b6b6b6;
    line-height: 35px;
    margin-right: -6px;
    padding-left: 8px;
    font-size: 16px;
    /*消除input之间的间隙*/
}
article .input-one:hover {
    border: solid 1px #4791ff;
    border-right: solid 0 #b6b6b6;
}

/*css hack for IE7*/

#search {
    width: 540px;
    height: 35px;
    border: solid 1px #b6b6b6;
    border-right: solid 0 #b6b6b6;
    line-height: 35px;
    margin-right: -6px;
    padding-left: 8px;
    font-size: 16px;
}
#search:hover {
    border: solid 1px #4791ff;
    border-right: solid 0 #b6b6b6;
}

/*输入框*/

article .input-two {
    width: 100px;
    height: 37px;
    border: solid 0px red;
    background-color: #38f;
    border-bottom: solid 1px #2d78f4;
    font-size: 15px;
    color: #fff;
}

/*css hack for ie7&ie6*/

*+html .input-two {
    height: 38px;
    border-bottom: solid 1px #2d78f4;
}
+html .input-two {
    height: 39px;
    border-bottom: solid 1px #2d78f4;
}

/*提交按钮*/

article .input-two:hover {
    cursor: pointer;
    background-color: #317ef3;
}
footer {
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
    text-align: center;
}
footer a {
    color: #00c;
    font-size: 12px;
    margin: 0 8px;
}
footer p {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
    font-weight: bold;
}
footer p a {
    color: #666;
    padding: 0;
    margin: 0;
}

/*设置*/

.setting {
    position: absolute;
    top: 25px;
    right: 73px;
    width: 66px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.setting:hover {
    /*height: 160px;*/
    overflow: visible;
    margin: 0 auto;
    z-index: 9999;
}
.group {
    margin-top: 12px;
    /*和设置的间隙*/
    border: solid 1px #d1d1d1;
    position: relative;
}

/*设置下的div 链接组*/

.group a {
    margin: 0px;
    width: 48px;
    /*fontsize*4 四个字*/
    display: block;
    height: 12px;
    font-size: 12px;
    padding: 6px 8px 6px 9px;
    /*(66-48)/2=9*/
    text-decoration: none;
    color: #000;
}
.group a:hover {
    background-color: #38f;
    color: #fff;
}
* html .aside {
    position: absolute;
    /*和hover的定位方式不同，以防浏览器过窄和nav重叠*/
    right: 11px;
    top: 22px;
    display: inline;
    background-color: #38f;
    height: 20px;
    width: 58px;
    overflow: hidden;
    /*鼠标没有划过时更多产品的样式*/
    padding-top: 5px;
    padding-left: 4px;
    font-size: 13px;
    color: #fff;
}
* html .aside span {
    margin-bottom: 10px;
}
* html .aside:hover {
    cursor: default;
    /*position: fixed;*/
    /*鼠标划过时fixed定位*/
    right: 0;
    top: 0;
    display: inline;
    background-color: #f9f9f9;
    /*background-color: #38f;*/
    height: 800px;
    width: 80px;
    z-index: 9999;
    /*鼠标划过时更多产品样式*/
    text-align: center;
    font-size: 13px;
    color: #333;
    padding-top: 28px;
}
* html .aside hr {
    margin: 2px auto;
    border: none;
    border-top: solid 1px #f0f0f0;
    width: 60px;
}
* html .icon1 a {
    background-position: -36px 0;
}
* html .icon2 a {
    background-position: -72px 0;
    width: 40px;
}
* html .icon3 a {
    background-position: -112px 0;
}
* html .icon4 a {
    background-position: -148px 0;
}
* html .icon5 a {
    background-position: -184px 0;
}
* html .icon6 a {
    background-position: -220px 0;
    width: 48px;
    height: 14px;
    /*text-indent: -6px;*/
    overflow: visible;
}
* html .tuiguang {
     /*text-indent: -6px;*/
     display: block;
     width: 48px;
}
* html .less a {
    background: #f9f9f9;
    width: 64px;
    padding-top: 0px;
}
* html nav {
    margin-top: 25px;
    margin-right: 70px;
    /*aside width 80px + setting 60px 间距*/
    float: right;
    /*使nav靠右*/
}
* html,
* html body
/* 修正IE6振动bug */

{
    background-image: url(about:blank);
    background-attachment: fixed;
}

/** html .aside:hover {position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop));}
* html .aside:hover  {position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));}
*/
