/* index css start*/

.wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.login {
    /*background-color: rgba(255, 255, 255, 0.4);*/
    /*background-color: #fff;*/
    color: #fff;
    width: 300px;
    /*height: 400px;*/
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 25%;/*位置居中*/
}
a.fotget {
    display: inline-block;
    /* float: right; */
    color: inherit;
    text-decoration: underline;
    position: absolute; /*适配手机端*/
    right: 0px;
    bottom: 0px;
}
a:hover.fotget {
    color: inherit;
}
body {
    background-color: #695f79;
    background-image: url('../image/bg.jpg');
    background-size: cover; /*使图片拉伸*/
    /*overflow: hidden;*/
    /* opacity: 0.5; 
    filter: "alpha(opacity=50)";
    -ms-filter: "alpha(opacity=50)";*/
}
html,
body {
    height: 100%; /*使得div高度为100%*/
}
.position {
    position: relative;
    margin-bottom: 10px;
}
/*登录按钮样式*/
.submit {
    background-color: #fd6e37;
    color: #fff;
    border: 0;
}
.submit:active,
.submita:focus {
    background-color: #fd6e37;
    color: #fff;
    border: 0;
}
.submit:hover {
    background-color: #fd8e4f;
    color: #fff;
    border: 0;
}
.input {
    background-color: #eee;
    color: #999;
}

/* index css end*/


/* manage css start*/
/*设置header的长宽高*/
header {
    background-color: #212121;
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    padding: 0 10px;
}
header div {
    float: right;
    font-size: 10px;
    line-height: inherit;
}
header div a {
    color: #fff;
    text-decoration: none;
}
section {
    background-color: #fff;
    width: 100%;
    height: 100%;
    /* border: solid 1px blue; */
}
aside {
    background-color: #3d3d3d;
    width: 200px;
    height: 100%;
    border-top: solid 1px #3d3d3d;
    /* float: left; */
    position: relative;
    /* left: -115%; */
    top: -100%;
}
ul.left-aside {
    width: inherit;
    padding: 0;
    margin: 0;
}
ul.left-aside li {
    display: block;
    list-style: none;
    height: 40px;
    border-bottom: solid 1px #5c5c5c;
    line-height: 40px;
    overflow: hidden;
}
ul.left-aside li.two:hover {
    height: 101px;
    /*41 + 30* 2*/
}
ul.left-aside li.three:hover {
    height: 131px;
    /*41 + 30* 3*/
}
ul.left-aside li a {
    display: block;
    padding-left: 15px;
    text-decoration: none;
    color: #fff;
}
ul.left-aside li a.title {
    background-color: #303030;
}
ul.left-aside li a.item {
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
ul.left-aside li a i {
    font-size: 16px;
    margin-right: 5px;
    text-shadow: none;
}
ul.left-aside li a:hover {
    background-color: #303030;
}
article.name {
    /* border: solid 0px #EA0605; */
    position: relative;
    /* left: 200px; */
    height: 100%;
    padding-left: 220px;
    text-align: left;
}
article.name h1 {
    display: inline-block;
    color: #646464;
    /* margin-left: 10px; */
    /* position: absolute; */
    /* left: 0px; */
    text-align: left;
}
article.name small {
    color: #9b9b9b;
    margin-left: 4px;
    font-size: 16px;
}
nav {
    background-color: #eee;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}
div.show {
    margin-top: 15px;
    width: 48%;
    height: 115px;
    float: left;
    color: #fff;
    padding: 10px 10px 0 10px;
    /* padding-top: 10px; */
    /* padding-left: 10px; */
    text-align: right;
}
div.show div.bottom {
    height: 30px;
    margin: 10px -10px 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
}
div.show div.bottom a {
    display: block;
    height: inherit;
    margin: 0 8px;
    line-height: 30px;
    color: #fff;
}
div.show div.bottom a i {
    float: right;
}
.show i.icon-comments,
i.icon-bar-chart {
    font-size: 65px;
    float: left;
}
.show i.small {
    font-size: 20px;
    margin-top: 3px;
}
.show strong {
    /* display: inline-block; */
    font-size: 31px;
    margin-bottom: 1px;
    /* text-align: right; */
    /* float: right; */
}
.show span {
    /* display: inline-block; */
    /* float: right; */
    font-size: 15px;
}
.orange {
    background-color: #ffb848;
    margin: 0 1%;
}
.green {
    background-color: #28b779;
    margin-bottom: 10px;
}
.name table {
    margin-top: 10px;
}
.name form {
    margin-top: 10px;
    margin-left: 10px;
}

/*manger css end*/


/**/

@media (min-width: 992px) {
    table.mobile {
        display: none;
    }
    aside {
        display: block;
    }
}
@media (min-width: 786px) and (max-width: 992px) {
    table.mobile {
        display: none;
    }
    article.name {
        padding-left: 140px;
    }
    aside {
        width: 120px;
    }
    
     table.mobile {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 786px) {
    aside {
        display: none;
    }
    article.name {
        padding-left: 0;
    }
    table.mobile {
        display: none;
    }
    article.name form {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 600px) {
    aside,
    article.name form {
        display: none;
    }
    article.name {
        padding-left: 0;
    }
    table.pc {
        display: none;
    }
    table.mobile {
        display: inline-table;
    }
}
