div{
    margin: 100px auto;
    width: 400px;
    text-align: center;
}
input{
    width: 60px;
    height: 25px;
    outline: none;
    margin-bottom: 10px;
    font-size: 25px;
    color: red;
}
#level {
    width: 40px;
    text-align: center;
}
#info{
    font-size: 10px;
    color: red;
}